.mat-card {
  padding: 2em;
}

.daily-calories {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 50%;
  margin: auto;
}

.daily-calories-total {
  flex-grow: 1;
  font-size: 1.3rem;
  font-weight: 600;
  margin:auto;
}

.slash {
  flex-grow: 1;
  font-size: 1.5rem;
  font-family: var(--main-font);
  margin: auto;
  color: var(--sec-txt-color);
  font-weight: bolder;
  text-align: center;
}

.daily-calories-intake {
  font-size: 1.3rem;
  flex-grow: 1;
  font-weight: 600;
  margin:auto;
}
