.mat-card {
  align-self: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 3em;
}

.calorie-intake {
  padding: 1em;
  margin: 2em auto;
  text-align: center;
  align-items: center;
}

.calorie-intake h2 {
  color: var(--sec-txt-color);
}

.mat-card-title {
  margin-top: 1em;
}
.mat-card-subtitle {
  color: var(--sec-txt-color);
}

button {
  color: var(--accent-color);
}

/* add to mat-card width 90% on mobile */
@media (max-width: 767.98px) {
  .container{
    width: 100%;
  }
  .mat-card {
    width: 90%;
  }
 }
