@keyframes linkPop {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(2px);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  animation: linkPop 0.2s ease-out forwards;
}

.navbar {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
}

.navbar-logo h1 a{
  font-size: 2.5rem;
  font-family: var(--logo-font);
  cursor: pointer;
}

.navbar-links {
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.navbar-links a {
  margin: 0 1em;
  font-weight: 600;
  font-family: var(--logo-font);
}


@media (max-width: 991.98px) {
  .navbar-logo h1 a{
    font-size: 3rem;
  }

  .navbar-links {
    font-size: 1.3rem;
    margin-top: 1em;
  }
  .navbar{
    flex-direction: column;
  }
}
