<mat-card>
  <mat-card-title> </mat-card-title>
  <mat-card-content>
    <mat-accordion multi>
      <mat-expansion-panel *ngFor="let meal of meals">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ meal.title }}
          </mat-panel-title>
          <mat-panel-description *ngIf="meal.totalCal">
            {{ meal.totalCal | number: "1.0-0" }} kcal
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list *ngIf="meal.items">
          <mat-list-item *ngFor="let item of meal.items" class="list-item">
            <img
              *ngIf="item.foodImage"
              src="{{ item.foodImage }}"
              class="list-image"
              matListIcon
            />
            <h2 matLine>{{ item.foodName | titlecase }}</h2>
            <p matLine>x {{ item.quantity }}</p>
            <p class="item-calories">
              {{ item.calories | number: "1.0-0" }} kcal in
              {{ item.weight | number: "1.0-0" }} grams.
            </p>
            <button mat-button (click)="delete(item, meal.mealId)">
              <mat-icon>delete</mat-icon>
            </button>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
        <mat-action-row>
          <button mat-button (click)="openDialog(meal.mealId)">
            Add food<mat-icon>add</mat-icon>
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
