li {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

li img {
  max-width: 50px;
}

.list-item {
  color: var(--sec-text-color);
}

mat-panel-title {
  color: var(--sec-txt-color);
  font-weight: 550;
}

mat-panel-description {
  color: var(--sec-txt-color);
}

button {
  color: var(--accent-color);
}


.item-calories{
  margin: 0 2em;
}

