.mat-card {
  align-self: start;
  height: 643px;
  width: 30%;
  margin: 0 3em;
}
.mat-card-header {
  margin: 1em auto;
}
.form {
  padding: 1em;
  margin: 1rem auto;
}

.mat-form-field {
  width: 300px;
  padding: 1em;

}

.calorie-intake {
  padding: 1em;
  align-content: center;
  justify-content: center;
}
