<section>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Monthly summary</mat-card-title>
      <mat-card-subtitle>Below you can find information about your last 30 entries into the calculator</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button (click)="populateData()">
        Populate data
      </button>
      <button mat-button (click)="clearStorage()">
        Clear History
      </button>
    </mat-card-actions>
    <mat-card-content *ngIf="monthlyNutrienData.hasOwnProperty('ENERC_KCAL')">
      <div class="general-info">
        <div class="calories">
          <h3>Calories:</h3>
            <p class="calories-text" matTooltip="Calculated calories from meals">{{ monthlyNutrienData.ENERC_KCAL.quantity| number: "1.0-0" }} in {{ monthlyNutrienData.ENERC_KCAL.unit}}</p>
        </div>
        <div class="macro">
          <h3>Macronutrients:</h3>
          <p class="macro-text">
            Carbs: {{ monthlyNutrienData.CHOCDF.quantity| number: "1.0-0" }} {{monthlyNutrienData.CHOCDF.unit}} <br />
            Fats: {{ monthlyNutrienData.FAT.quantity| number: "1.0-0"  }} {{monthlyNutrienData.FAT.unit}} <br />
            Protein: {{ monthlyNutrienData.PROCNT.quantity| number: "1.0-0"  }} {{monthlyNutrienData.PROCNT.unit}} <br />
          </p>
        </div>
      </div>
      <mat-list dense>
        <div>
          <p>Here are details about your past 30 days</p>
        </div>
        <mat-list-item *ngFor="let nutrien of monthlyNutrienData | keyvalue">
          <h3 matLine>{{ nutrien.value.label }}</h3>
          <p>{{ nutrien.value.quantity | number: "1.0-0" }} in {{ nutrien.value.unit }}</p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</section>
