<!-- search-->

<div class="dialog-header">
  <mat-form-field class="search-input">
    <mat-label>Search for food</mat-label>
    <input
      matInput
      #searchTerm
      autocomplete="off"
      (keyup.enter)="searchFood(searchTerm.value); searchTerm.value = ''"
    />
  </mat-form-field>
</div>
<!-- form -->
<form #foodForm="ngForm" mat-dialog-content>
  <mat-spinner align="center" *ngIf="loading"></mat-spinner>
  <mat-list *ngIf="queryResults">
    <mat-list-item *ngFor="let query of queryResults.hints" class="list-item">
      <img
        *ngIf="query.food.image"
        src="{{ query.food.image }}"
        class="list-image"
        matListIcon
      />
      <div matLine>
        <h3 class="food-label">{{ query.food.label | titlecase }}</h3>
        <p>
          {{ query.food.nutrients.ENERC_KCAL | number: "1.0-0" }}kcal per 100 g
        </p>
      </div>
      <mat-form-field class="form-field-amount">
        <mat-label for="quantity">Amount</mat-label>
        <input
          class="form-field-amount"
          #quantity="ngModel"
          required
          ngModel
          name="quantity"
          min="1"
          autocomplete="off"
          matInput
          class="quantity"
          type="number"
        />
      </mat-form-field>
      <mat-action-list>
        <mat-form-field appearance="fill" matLine class="form-field-measure">
          <mat-label for="measure">Measure</mat-label>
          <mat-select
            #measure="ngModel"
            required
            ngModel
            name="measure"
            id="measure"
          >
            <mat-option
              *ngFor="let measure of query.measures"
              [value]="measure.uri"
            >
              {{ measure.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-action-list>
      <button
        mat-mini-fab
        color="accent"
        type="submit"
        (click)="chooseItem(query, measure.value, quantity.value, mealId)"
      >
        <mat-icon>add</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</form>
<!-- bottom actions -->
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Back</button>
  <button
    mat-button
    (click)="searchFood(searchTerm.value); searchTerm.value = ''"
  >
    Search
  </button>
</div>
