.list-image {
  max-width: 50px;
  height: 50px;
  margin-right: 1em;
}

.mat-form-field {
  margin: 0 2em;
}

.form-field-amount,
.form-field-measure {
  max-width: 150px;
}

.search-input {
  display: block;
  margin: auto;
  width: 80%;
}

.dialog-header {
  width: 100%;
}

.food-label {
  font-weight: 500;
  font-size: 1.2rem;
}

.mat-spinner{
  width: 100%;
  margin: 2em auto;
}
@media (max-width: 991.98px) {
  .mat-list-item{
    display: flex;
    flex-direction: column;
  }
 }
